body > .container {
    padding: 100px 100px 100;
  }

  #navbarNav {
    justify-content: flex-end;
  }
  .footer {
  
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #4582ec;
    margin-top:20px;

  }

  .text-muted{
    color: seashell !important;
  }

  .img{
    height: 200px;
    padding: 25px;
  }

  .paragraph{
    float:right !important
  }
  